<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BTC/USD Analytics</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.css">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <script th:src="@{https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.bundle.js}"></script>
</head>

<body>
    <input type="hidden" id="data_api_url" th:value="${data_api_url}">
    <br>
    <div class="columns is-centered">
        <div class="column is-10">
            <h1 class="title">BTC/USD Trades Analytics</h1>
        </div>
    </div>

    <div class="columns is-centered">
        <div class="column is-10">
            <h3 class="has-text-centered is-italic">
                The first chart(red) shows the quantity of BTC that is traded for USD every minute on <a href="https://exchange.blockchain.com/">Blockchain.com</a>.
                The second chart (green) shows the reverse (USD for BTC). Timezone is UTC+0.
            </h3>
        </div>
    </div>
    <br>
    <div class="columns is-centered">
        <div class="column is-10">
            <canvas id="sell_chart"></canvas>
        </div>
    </div>

    <div class="columns is-centered">
        <div class="column is-10">
            <canvas id="buy_chart"></canvas>
        </div>
    </div>

    <script th:src="@{/js/dashboard.js}"></script>
</body>
</html>
